@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  
  }

body {
    font-family: 'Josefin Sans';
    background-color: #000000;
    color: #ffffff;
  }
  
  .hero-banner-img {
    position: absolute;
    right: 40px;
    top: 250px;
    width: 700px;
    height: 900px;
    margin-top: -330px;
    border-radius: 25px;
  
  }
  .Banner {
    height: 900px;
  }
  .Precios {
    height: 900px;
  }

  .pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.pagination button {
    width: 40px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: #eee;
    border-color: #eee;
}

.pagination button.active {
    font-weight: 900;
    border-color: #101010;
    background: #ffe400;
    color: #101010;
}
.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}